body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    cursor: default;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #001120;
    color: #ffffff;
}

a {
    transition: 0.2s;
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 3rem;
    font-weight: 600;
}

h1 span {
    color: #001120;
    background-color: #ffffff;
}

h1 a:hover {
    font-size: 4rem;
}

h2 {
    font-size: 1.6rem;
}

h2 a:hover {
    font-size: 1.8rem;
}

p {
    margin: 1em;
    padding: 0;
    line-height: 1;
    font-size: 1.2rem;
    font-weight: 600;
}

p span {
    color: #001120;
    background-color: #ffffff;
}

p a:hover {
    font-size: 1.4rem;
}

footer {
    margin-top: -5vh;
}

iframe {
    width: 188px;
}

i .fa {
    font-size: 0.8rem;
}

.h-90 {
    height: 90%!important;
}

.h-80 {
    height: 80%!important;
}

.h-40 {
    height: 40%!important;
}

.h-30 {
    height: 30%!important;
}

.h-25 {
    height: 25%!important;
}

.h-10 {
    height: 10%!important;
}
